.layout {
  padding-bottom: 30px;
}
.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.sider {
  border-radius: 0px 20px 20px 0px;
}
