.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layoutContent {
  padding-bottom: 30px;
  display: flex;
  & .layoutContent2 {
    display: flex;
  }
}
.sider {
  border-radius: 0px 0px 10px 0px;
  margin-right: 60px;
}

.content {
  display: flex;
  margin-top: 60px;
  // width: 50%;
  text-align: center;
}

.content {
  margin: 0 25px;
}

.content {
  margin: 0 25px;
}
