.layout {
  max-height: 100vh;
}
.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layoutContent {
  display: flex;
  height: 100vh;
  & .layoutContent2 {
    display: flex;
  }
}
.sider {
  margin-right: 60px;
}

.content {
  display: flex;
  margin-top: 60px;
  // width: 50%;
  text-align: center;
}

.content {
  margin: 0 25px;
}

.content {
  margin: 0 25px;
}

.content {
  margin: 0 25px;
}

.content {
  margin: 0 25px;
}

.content {
  margin: 0 25px;
}

.content {
  margin: 0 25px;
}
